<h1>{{ title }}</h1>

<!-- If else  -->
@if(isActive) {
<button [style.backgroundColor]="isActive ? 'green' : 'red'">Button one</button>
} @else{
<p>Button not active</p>
} &nbsp;

<button (click)="buttonClick()" [class.styled-button]="true">Button two</button>
<br />
<input type="text" (keyup)="keyEnter($event)" />
<br />
<input type="text" (keyup.enter)="keyUpFilter(user)" #user />
<p [class.title]="true">Two-way Data binding</p>
<p>userName: {{ userName }}</p>
<input type="text" (keyup.enter)="updateUserName(username)" #username />
<p [class.title]="true">Data binding with ngModel directive</p>
<p>userAdress: {{ userAdress }}</p>
<input type="text" [(ngModel)]="userAdress" />
