h1 {
  color: red;
  background-color: black;
}

.active {
  background-color: green;
}

.inactive {
  background-color: red;
}

.styled-button {
  background-color: yellow;
  border: 1px solid purple;
  border-radius: 4px;
}
